body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #201a62, #0f0c29);
  background: linear-gradient(to right, #24243e, #1a1646, #0f0c29);

  overflow: hidden;
}

.App {
  text-align: center;
}

.App header {
  border-bottom: 1px solid rgba(104, 53, 155, 0.5);
  background-color: #201f1f;
  /* background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000); */
  color: white;
  height: 5vh;
  min-height: 50px;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  margin: auto;
  cursor: default;
  /* border: 1px solid red; */
}

.logo .logo-icon {
  color: rgb(127, 63, 190);
  transform: translateY(3px);
}

.logo i {
  color: silver;
}

.App section {
  /* border: 1px solid rebeccapurple; */
  /* width: 80vw; */
  margin: auto;
  margin-left: 5rem;
  margin-right: 5rem;
}

.chat-room {
  display: flex;
  flex-direction: column;
}

.room-title-container {
  font-size: 0.6rem;
  position: fixed;
  left: 0;
  right: 0;
  color: white;
}

.room-title {
  background-color: rebeccapurple;
  padding: 0.4rem;
  border-top: none;
  max-width: fit-content;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-container {
  min-width: 20rem;
}

form {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: 1rem;
}

textarea {
  width: 80%;
  background-color: transparent;
  color: white;
  resize: none;
  min-height: 2rem;
  font-size: 1.8rem;
  padding: 0.6rem 0.8rem;
  outline: none;
  border: 1px solid rebeccapurple;
  border-radius: 10px;
}

.messages-container {
  border: 1px solid rebeccapurple;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 65vh;
  padding-bottom: 3rem;
  min-width: 21rem;
}

.message {
  color: white;
  max-width: fit-content;
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
}

.message .profile-img {
  padding: 1rem 0.3rem;
  height: 2rem;
  width: 2rem;
}

.message .profile-img img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.chat-avatar-placeholder {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: "bold";
  background-color: rebeccapurple;
  line-height: 2rem;
}

.message.sent {
  align-self: flex-end;
}

.message-content {
  text-align: left;
  min-width: 1rem;
  padding: 0 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  background-color: rgba(26, 25, 43, 255);
}

.message.sent .message-content {
  background-color: rgba(77, 56, 161, 255);
}

.message p {
  margin: 0.7rem 0;
}

.message .thumb-img {
  width: 15rem;
  padding-top: 0.2rem;
  cursor: pointer;
}

.message .thumb-img:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.form-button {
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-button .icon {
  color: rebeccapurple;
  font-size: 2rem;
}

.form-button .icon:hover {
  color: rgb(146, 89, 204);
}

.register-container {
  color: white;
  padding: 1rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.register-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rebeccapurple;
  outline: none;
  color: white;
  font-size: 1.5rem;
  max-width: 80%;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.register-form button {
  background: #52c234;
  background: -webkit-linear-gradient(to top, #134700, #52c234);
  background: linear-gradient(to top, #134700, #52c234);

  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 1rem;
  outline: none;
}

.register-form button:hover {
  background: #52c234;
}

.verification-container {
  padding-top: 5rem;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verification-container p {
  max-width: 400px;
}

/* TODO button styles can be together */
.verification-container button {
  background: #52c234;
  background: -webkit-linear-gradient(to top, #134700, #52c234);
  background: linear-gradient(to top, #134700, #52c234);

  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 1rem;
  align-items: center;
  display: flex;
  outline: none;
}

.verification-container button i {
  font-size: 2rem;
}

.verification-container button:hover {
  background: #52c234;
}

.verification-icon {
  font-size: 5rem;
}

.profile-data-container {
  color: white;
  font-size: 1.3rem;
}

.profile-photo img {
  width: 6rem;
  height: 6rem;
}

.search-form-container {
  padding: 1rem;
}

.search-form {
  display: inline;
}

.search-form input[type="text"] {
  width: 200px;
  height: 35px;
  padding-right: 50px;
  font-size: 1rem;
  padding: 0 1rem;
}

.search-form input[type="submit"] {
  margin-left: -50px;
  height: 30px;
  width: 50px;
  background-color: transparent;
  color: black;
  border: 0;
  -webkit-appearance: none;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
}

.contacts-container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.contacts-container .contact {
  min-width: 350px;
  height: 5rem;
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(43, 43, 83);
  border-radius: 10px;
}

.contacts-container .contact:hover {
  background-color: rgb(53, 53, 88);
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-image-container {
  height: 3rem;
  width: 3rem;
  align-self: center;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.contact-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.contacts-container .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts-container .contact .cart {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.avatar-placeholder {
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  font-weight: "bold";
  background-color: rebeccapurple;
}

.hamburger-container {
  position: absolute;
  left: 1rem;
  padding: 0.5rem 0;
  z-index: 1;
}

.hamburger-container button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  color: silver;
  cursor: pointer;
}

.side-contacts {
  position: absolute;
  left: 1.5rem;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 1rem;
  color: white;
}

.side-contacts div {
  font-size: 1rem;
  color: white;
}

.side-contacts-container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.side-contact {
  min-width: 200px;
  height: 4rem;
  margin: auto;
  margin-top: 0.5rem;
  background-color: rgb(43, 43, 83);
  border-radius: 10px;
}

.side-contact:hover {
  background-color: rgb(53, 53, 88);
}

.side-contact.active {
  background-color: rgb(53, 53, 88);
}

.side-contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left !important;
}

.side-contact-image-container {
  align-self: center;
  padding-right: 0.4rem;
  padding-left: 0.25rem;
}

.side-contact-image-container img {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.side-contacts-container .side-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.side-contacts-container .side-contact .side-cart {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.side-contact-text p {
  font-size: 0.8rem;
  margin: 0.4rem 0.2rem;
}

.side-avatar-placeholder {
  padding-top: 0.1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rebeccapurple;
  font-size: 0.8rem !important;
  font-weight: bold;
  text-align: center;
}

.side-contact-first-row {
  display: flex;
  flex-direction: row;
}

.delete-button-container button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.delete-button-container button:hover {
  color: red;
}

.delete-button {
  font-size: 1.7rem;
}

.search-result-container .contact .cart {
  cursor: auto;
}

.add-button-container button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.add-button-container .contact-exist {
  cursor: auto;
  outline: none;
  font-size: 1.7rem;
  color: green;
}

.add-button-container button:hover {
  color: green;
}

.add-button {
  font-size: 1.7rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-btn .google-icon {
  position: absolute;
  left: 0;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 6px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
  cursor: pointer;
}
.google-btn:active {
  background: #1669f2;
}

.navigation-container {
  padding: 1rem;
  position: absolute;
  left: 0;
}

.navigation-container button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: silver;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
}

.navigation-container button:hover {
  background-color: rebeccapurple;
}

.navigation-container .active {
  background-color: rebeccapurple;
}

.signup-buttons-container {
  padding: 1rem;
  position: absolute;
  right: 0;
}

.signup-buttons-container button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: silver;
  border: 3px solid rebeccapurple;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
}

.signup-buttons-container button:hover {
  background-color: rebeccapurple;
}

.signup-buttons-container .active {
  background-color: rebeccapurple;
}

.change-name-form {
  display: flex;
  justify-content: center;
}

.change-name-form form {
  justify-content: center;
}

.image-file {
  display: none;
}

.image-preview-container {
  color: white;
}

.image-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.image-preview img {
  height: 3rem;
  width: 3rem;
}

.image-preview button {
  font-size: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: red;
  cursor: pointer;
}

.nav-button-holder {
  display: flex;
  flex-direction: row;
}

.nav-button-holder-icon {
  display: none;
}

.loader {
  margin: 0.3rem;
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-top: 6px solid rebeccapurple;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(blue, navy);
  border-radius: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }

  .nav-button-holder span {
    display: none;
  }

  .nav-button-holder-icon {
    display: block;
  }

  textarea {
    font-size: 1.3rem;
  }

  .hamburger-container {
    display: none;
  }

  .App section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
